/AssPrj/nbproject/private/
/AssPrj/build/
/LAB2/Lab2_BuiQuocTruong_HE160611_SE1717/build/
/LAB2/Lab2_BuiQuocTruong_HE160611_SE1717/nbproject/private/
/WebApplication1/nbproject/private/
/WebApplication1/dist/
/WebApplication1/build/
/AssPrj/dist/
