/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Feb 27, 2023, 1:28:00 AM
    Author     : tr498
*/

.logo{
    margin: 0 auto!important;
    padding-top: 20px;
    padding-bottom: 20px;
}