/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Mar 9, 2023, 11:54:36 PM
    Author     : tr498
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    background: #403b39;
}

.logo{
    font-size: 2em;
    color: #fff;
    user-select: none;
}

.navigation a{
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}
.navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}
.navigation a:hover:after{
    transform-origin: left;
    transform: scaleX(1);
}

.room-details { 
  margin: 60px auto 0px;
  max-width: 1000px;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0px 0px 10px #ccc;
  text-align: center;
  color: white; 
 
}

.room-details h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.room-details p {
  margin: 10px 0;
}

.room-details p.room-type, .room-details p.room-price {
  font-size: 18px;
  margin-bottom: 10px;
}
.room-details .room-price {
  font-weight: bold;
}

.room-details .room-description {
  font-style: italic;
}

.room-details .room-amenities {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
  list-style: square
}

.room-details .room-amenities li {
  margin-bottom: 5px;
}

.room-details .room-policies {
  margin-top: 20px;
  font-style: italic;
}

