/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Feb 8, 2023, 2:21:50 PM
    Author     : tr498
*/
.container{
    margin-top: 180px;
    margin-left: 550px;
    background: beige;
}
.login{
    border: groove;
    border-color: black ;
    width: fit-content;
}
.login1{
    background: white;
    width: fit-content;
    padding: 40px 80px;

}
.login2{
    background-color: #04aa6d;
    color: #fff;
    width: 100%;
    border: 0;
    border-radius: 25px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-family: Source Sans Pro,sans-serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 600;
    height: 50px;
    letter-spacing: normal;
    line-height: 1.17;
    margin: 0;
    padding-left: 40px;
    padding-right: 40px;
    position: relative;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}
.chu{
    font-size: 20px ;
    color: black;
}

